<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/style.css">
    <title>Server Side Rendering</title>
</head>
<body>
     <div class="gallery">
       {{#each products}}
      <div class="content">
        <a href="/products/product/{{id}}">
        <img src="{{image}}">
        <h3>{{title}}</h3>
        <p>{{category}}</p>
        <h6>${{price}}</h6>
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
        </a>
      </div>
      {{/each}}
    </div>
</body>
</html>